
#loginButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#registerButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#upNextMatch { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#countdown {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#topNavBar {
    background-color: skyblue;
    border: groove 5px grey;
}

#record {
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shop-item {
    width: 100%;
}

.shop-button {
    background-color: lightgrey;
    border: ridge 5px darkgrey;
    transition: all .2s ease-in-out;
    width: 100%;
    margin: 10px 9px 10px 0px;
    border-radius: 10px;
}
.shop-button :active {
    background-color: grey;
}

.shop-button :hover{
    background-color: #adc3d7;
    transition: background-color .5s;
    cursor: pointer;
    /* display: block; */
}

.shop-button :hover + .itemTooltip {
    display:block;
}

.itemTooltip {
    display: none;
    background: #C8C8C8;
    margin-left: 20px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    right: 20%;
    width: 300px;
    height: 150px;
}

.shop-button #image {
    width: 64px;
    vertical-align: middle;
}

.shop-button img {
    height:64px;
    width:64px;
    vertical-align: middle;
}

.shop-button #nameAndPrice {
    margin: 0px;
    width: 60%;
    vertical-align: middle;
    padding-left: 12px;
}

.shop-button #buttonTitle {
    font-weight: bold;
}

.shop-button #nameAndCost h1:first-of-type {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.shop-button #amount {
    font-size:40px;
    vertical-align: middle;
    text-align: right;
    padding-right: 12px;
}

.shop-button #levelButton {
    font-size: 20px;
    vertical-align: middle;
    text-align: right;
    padding-right: 12px;
}

.levelHeader {
    background-color: lightgrey;
    border: groove 5px skyblue;
    transition: all .2s ease-in-out;
    width: 100%;
    margin: 10px 9px 10px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shopHeader {
    background-color: lightgrey;
    border: groove 5px skyblue;
    transition: all .2s ease-in-out;
    width: 100%;
    margin: 10px 9px 10px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#stats {
    width:600px;
    height:100px;
    float:left;
}

#scoreContainer {
    background-color: lightgrey;
    width: 50%;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: ridge 10px skyblue;
}

#points {
    font-size: 60px;
}

#mainClicker:active {
    background-color: #709ebf;
}

.sectionLeft {
    float: left;
    width: 20%;
}
.sectionCenter {
    display: inline-block;
    width:60%;
}
.sectionRight {
    float:right;
    width: 20%;
}

#clickObject:hover {
    transform: scale(1.10);
}
#clickObject:active {
    transform: scale(0.90);
}
#clickObject {
    position: relative;
    transition: all .1s ease-in-out;
}